*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
keystore.properties
*.jks
*.keystore
!app/debug.keystore
.kotlin
.cxx
*.log
.DS_Store
app/release/
app/debug/
